@font-face {
	font-family: pangramRegular;
	src: url(./assets/fonts/Pangram-Regular.woff);
}

* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: pangramRegular; */
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: block;
	padding: 1.5% 3%;
	width: 100%;
	position: fixed;
}

header i {
	font-size: 30px;
}

#page-wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 3%;
}

.landing-wrapper {
	display: flex;
	flex-direction: row;
	padding: 8% 5% 3% 5%;
	/* height: calc(100vh - 50px); */
}

.main-column {
	display: flex;
	flex-direction: column;
	padding: 0% 5% 0% 10%;
}

.site-heading {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.title-text {
	font-size: 80px;
	line-height: 0.75;
	margin-bottom: 2%;
	text-transform: capitalize;
}

#roles {
	font-size: 24px;
}

.site-heading::after {
	content: '';
	background-color: black;
	/* background-color: #fef6e2; */
	width: 30%;
	left: 0;
	border-radius: 3px;
	height: 3px;
	margin-top: 2%;
	opacity: 50%;
}

.small-screen-links {
	display: none;
	gap: 10px;
	align-self: flex-end;
	margin-bottom: 2%;
}

/* TODO: Add clip to this to cut off ends */
.underline {
	height: 2%;
	background-color: grey;
	width: 30%;
}

.main-content {
	display: flex;
	gap: 40px;
	margin: 5% 0% 1% 0%;
}

.main-content > div {
	flex: 1;
	font-size: 24px;
	line-height: 1.3;
}

.subheading {
	margin-bottom: 1%;
	font-size: smaller;
}

.tagline {
	display: flex;
	justify-content: flex-end;
	margin: 3% 0%;
	font-size: 30px;
}

.tagline-text {
	text-align: right;
	font-weight: bold;
}

/* .closing-line {
	margin-top: auto;
} */

.links-column {
	writing-mode: vertical-lr;
	display: flex;
	align-items: center;
	padding: -5% 0%;
}

.links-column > div {
	padding: 2%;
}

#link-header {
	flex: 1;
	font-size: 16px;
	position: relative;
}

#link-header::after {
	content: '';
	position: absolute;
	background-color: black;
	width: 2px;
	border-radius: 2px;
	height: 40%;
	top: 30%;
	right: 50%;
	transform: translate(50%, 50%);
	opacity: 50%;
}

.link-divider {
	background-color: black;
	width: 10px;
	flex: 0.5;
}

.link-list {
	display: flex;
	justify-content: flex-start;
	flex: 2;
	font-size: 20px;
	/* padding: 1%; */
	gap: 1rem;
}

/* PROJECTS */

.projects {
	display: flex;
	flex-direction: column;
	padding: 0% 6% 14% 14%;
}

.project {
	margin-bottom: 5%;
}

.projects-header {
	font-size: 50px;
	width: 100%;
	margin-bottom: 1.5%;
}

.project-title {
	font-size: 30px;
	margin-bottom: 1.5%;
}

.project-stack {
	display: flex;
	gap: 20px;
}

.project-summary {
	margin-top: 1.5%;
	padding-right: 5%;
	font-size: 30px;
}

/* Modal Styling  */
.modal,
.modal > a {
	position: fixed;
	top: 0;
	/* set a/link wrapper around modal content */
	width: 100%;
	height: 100%;
}

.modal {
	transition: left 0s 1s, opacity 1s;
	left: -100vw;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
}

.modal:target {
	left: 0;
	opacity: 1;
	transition: left 0s, opacity 1s;
}

.modal > a {
	position: absolute;
	left: 0;
}

/* Content inside div */
.modal-wrapper {
	width: 100vw;
	transition: top 1s;
	padding: 3% 5% 0% 5%;
	background: white;

	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.modal-wrapper::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
.modal-controls {
	position: absolute;
	padding: 1.5em;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.modal-main-content {
	display: flex;
	flex-direction: column;
	padding: 3em 1.5em 0em 1.5em;
}

.modal-headers {
	margin-bottom: 1em;
}

.modal-title {
	font-size: 50px;
}

.modal-project-summary {
	margin: 0.5em 0em;
}

.summary {
	font-size: 24px;
	width: 80%;
}

.comments-wrapper {
	display: flex;
	flex-direction: row;
	margin: 1.5em 0em;
	justify-content: space-around;
}

.comment-wrapper {
	flex: 1;
	padding: 0em 1.5em;
}

.comment-wrapper ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.comment-wrapper:first-child {
	padding-left: 0em;
}

.comment-subheading {
	margin-bottom: 0.5em;
}

.modal-project-images {
	margin-top: auto;
	width: 100vw;
	position: relative;
	height: 15em;
	left: calc(-50vw + 50%);
	background-position: center;
	background-size: cover;
	opacity: 50%;
	z-index: 0;
}

.modal:target > div {
	top: 0;
}

/* MEDIA QUERIES */
@media (max-width: 786px) {
	.page-wrapper {
		height: 100%;
	}
	.site-heading {
		display: flex;
		flex-direction: column;
	}
	.title-text {
		font-size: 60px;
		line-height: 0.75;
		margin-bottom: 2%;
		text-transform: capitalize;
	}
	.small-screen-links {
		display: flex;
	}
	.main-content {
		flex-direction: column;
	}

	.links-column {
		display: none;
	}

	.main-content {
		gap: 20px;
	}
	.tagline {
		line-height: 1;
		font-size: 30px;
	}

	/* Modal Smaller Viewports  */

	.summary {
		font-size: 20px;
		width: 100%;
	}
	.comments-wrapper {
		flex-direction: column-reverse;
	}

	.comment-wrapper {
		padding: 1em 0em !important;
	}
}
