/* ***Color Palette*** */
:root {
	--black: #000100;
	--deepBlue: #050411;
	--sea: #2b9eb3;
	--olive: #849324;
	--clementine: #f26430;
	--flamingo: #fe938c;
	--lime: #adff2f;
	--hotpink: #ff69b4;
	--lilac: #d7b8f3;
	--softwhite: #f5f5f5;
	--burgerBG: rgba(242, 100, 48, 0.95);
	--gradientBG: linear-gradient(45deg, #d7b8f3, #2b9eb3, #fe938c), #ff69b4;
}

@font-face {
	font-family: objectSansHeavy;
	src: url(../assets/fonts/ObjectSans-Heavy.woff);
}

/* Main content text */
@font-face {
	font-family: objectSansReg;
	src: url(../assets/fonts/ObjectSans-Regular.woff);
}

/* Link text */
@font-face {
	font-family: objectSansThin;
	src: url(../assets/fonts/ObjectSans-Thin.woff);
}

@font-face {
	font-family: objectSansBold;
	src: url(../assets/fonts/ObjectSans-Bold.woff);
}

@font-face {
	font-family: stellarLight;
	src: url(../assets/fonts/Stellar-Light.woff);
}

@font-face {
	font-family: stellarReg;
	src: url(../assets/fonts/Stellar-Regular.woff);
}

@font-face {
	font-family: stellarBold;
	src: url(../assets/fonts/Stellar-Bold.woff);
}

* {
	box-sizing: border-box;
	/* outline: 1px solid pink; */
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: objectSansReg;
	line-height: 1.6;
	background: var(--deepBlue);
	color: var(--softwhite);
	overflow-x: hidden;
	/* animation: colorchange 90s linear 1s infinite; */
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

.hide-scroll {
	overflow: hidden;
}

section {
	margin-top: 1em;
}

:target:before {
	content: '';
	display: block;
	height: 7em;
	margin: -7em 0 0;
}

/* add space above project section for smooth scroll to anchor */
.section-anchor:target:before {
	content: '';
	display: block;
	height: 1em;
	margin: 2em 0;
}

/* *** FONT & LINK STYLINGS *** */
a {
	text-decoration: none;
	color: var(--softwhite);
	font-family: objectSansReg;
}

a:visited {
	color: var(--softwhite);
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}

.lime {
	display: inline-block;
	color: var(--lime);
	/* transform: rotate(2deg); */
}

.pink {
	display: inline-block;
	color: var(--hotpink);
}

.smaller {
	display: inline-block;
	font-size: 10px;
}

.section-header {
	font-size: 1.25em;
	margin-bottom: 1em;
	/* padding-left: 0.75em; */
	text-transform: uppercase;
	width: 100%;
	font-family: stellarBold;
	letter-spacing: 1px;
}

/* NAVBAR AND NAV LINK STYLING */
nav {
	display: flex;
	padding: 1.5em 5em;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0;
	background: var(--deepBlue);
	z-index: 10;
	height: 7em;
	font-size: 16px;
	/* font-size: 0.75em; */
	/* animation: colorchange 90s linear 1s infinite; */
	/* border-top: solid 0.5em var(--softwhite); */
	transition: top 0.5s;
}

nav a {
	font-size: 1.25em;
}

.active-nav {
	border-bottom: 0.25em solid var(--lilac);
}

.active-nav:hover {
	border-bottom: none;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='var(--lilac)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 5px;
	background-repeat: repeat-x;
	text-decoration: none;
}

.logo a {
	font-size: 1.5em;
	font-family: objectSansHeavy;
}

.logo #dot {
	color: var(--lime);
}

.logo .daisy {
	color: var(--flamingo);
	font-size: 1em;
	transition: all 0.2s ease-in-out;
}

.logo .daisy:hover {
	color: var(--clementine);
}

.logo-loaded {
	display: block;
}

.logo-scroll {
	display: none;
}

.nav-links-wrapper {
	display: none;
	justify-content: space-between;
}

.nav-link {
	margin-right: 1.5em;
	padding-bottom: 0.5em;
	letter-spacing: 1px;
	cursor: pointer;
	font-family: objectSansHeavy;
}

.nav-link:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='pink' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 5px;
	background-repeat: repeat-x;
	text-decoration: none;
}

/* use to 'toggle' nav links into view */
.show-nav.fade-in {
	display: flex;
}

.show-logo {
	display: block;
}

.hide-nav {
	display: none;
}

.nav-link:not(:last-child) {
	margin-right: 1.5em;
}

#resume-btn {
	padding: 0 1em;
	margin-bottom: 0.5em;
	text-align: center;
	margin-right: 0;
	background: var(--hotpink);
	font-size: 1.25em;
	cursor: pointer;
	font-family: objectSansHeavy;
	color: var(--softwhite);
	letter-spacing: 1px;
	border: none;
}

.burger-menu,
input {
	display: none;
}

/* MAIN PAGE CONTENT */
.page-wrapper {
	/* Wrap all page contents */
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0em 2em;
	font-size: 16px;
}

/* LANDING & INTRO SECTION*/
.landing {
	display: flex;
	width: 100%;
	/* remove inherited section top margin */
	margin-top: 0;
	height: calc(100vh - 1em);
	cursor: pointer;
	padding: 1em;
	font-size: 16px;
}

.intro {
	display: flex;
	align-items: center;
	height: 100%;
}

.intro.professional {
	cursor: url('/assets/cursor_daisy.png'), pointer;
}

.intro.personal {
	cursor: url('/assets/cursor_daisy.png'), pointer;
}

.intro-content {
	/* adjust for nav position fixed (intro overlaps) */
	margin-top: auto;
	line-height: 1;
	font-size: 4em;
	padding: 0em 0.75em;
	padding-right: 1.5em;
	font-family: objectSansHeavy;
	line-height: 1em;
}

.intro-content p:first-of-type {
	margin-bottom: 0.5em;
}

#intro-img {
	position: absolute;
	height: 1em;
	width: 1em;
}

.intro-closing {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 2em;
}

#intro-aside {
	cursor: auto;
	font-family: objectSansReg;
	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: 0.25em;
}

.social-links-wrapper {
	display: flex;
	margin: 1.5em 0em;
	justify-content: space-around;
	margin: 0;
}

.social-link a {
	font-family: objectSansHeavy;
	letter-spacing: 2px;
	font-size: 1.5em;
	cursor: pointer;
	color: var(--hotpink);
	text-align: right;
}

.social-link a:hover {
	color: var(--clementine);
}

.social-link.smaller {
	width: 100%;
	font-size: 20px;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	padding-top: 0.25em;
	color: var(--olive);
}

/* EXPERIENCE SECTION */
.experience-wrapper {
	display: flex;
	flex-direction: column;
	padding: 5em 3.25em;
	font-family: objectSansReg;
	font-size: 16px;
}

.experience-cols {
	display: flex;
	flex-direction: row;
	gap: 5em;
}

.experience-content-col {
	display: flex;
	font-size: 1.5em;
	justify-content: center;
}

#experience-col-1 {
	flex: 2;
	/* padding-right: 2em;
	background: var(--flamingo);
	margin-right: 1.5em;
	margin-bottom: 2em;
	transform: rotate(3deg); */
}

/* #experience-col-1 .experience-text {
	outline: 0.2em solid var(--sea);
} */

#experience-col-2 {
	/* margin-left: 1.5em;
	margin-top: 1.5em; */
	transform: rotate(-3deg);
	font-size: 1.25em;
	justify-content: center;
	align-items: center;
	padding: 1em;
	flex: 1;
}

#experience-col-2 .experience-text {
	background: var(--olive);
	outline: 0.2em solid var(--lilac);
	padding: 2em;
}

#experience-col-2 .experience-text:hover {
	animation: wiggle 1s infinite;
}

.experience-text h4 {
	margin-bottom: 0.75em;
}

/* TICKER TAPE FEATURE */

.ticker-tape {
	display: flex;
	width: 100vw;
	margin-bottom: 3em;
	white-space: nowrap;
	font-size: 16px;
}

.ticker-tape-wrapper {
	display: table-cell;
	position: relative;
	animation: ticker-tape-scrolling 15s linear infinite running;
}

.ticker-tape-item {
	display: inline-block;
	text-align: center;
	padding: 0 5rem;
	font-family: objectSansBold;
	font-size: 1em;
	letter-spacing: 2px;
	/* width: 10em; */
	/* animation: wiggle 1s infinite; */
}

/* PROJECT SECTION */
.projects-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 0em 3em;
	height: calc(100vh - 7em);
	font-size: 16px;
}

.col-wrapper {
	display: flex;
	gap: 5em;
}

.projects-list-col {
	display: flex;
	flex-direction: column;
	/* padding: 1em; */
	height: 100%;
	margin-top: 1em;
}

.project-prev-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: objectSansReg;
	text-align: left;
	padding: 3em 1em 0.5em 0em;
	width: 100%;
	border-bottom: 2px solid var(--lime);
	cursor: pointer;
}

.project-prev-wrapper:nth-child(1) {
	border-top: none;
	padding-top: 0;
}

.project-prev-wrapper a:hover {
	color: var(--hotpink);
}

.project-prev-title {
	font-size: 1.5em;
}

.project-prev-tagline,
.project-prev-stack {
	font-size: 1.25em;
}

/* *** MODAL/LIGHTBOX PROJECT DISPLAY ***  */

.modal {
	transition: left 0s 1s, opacity 1s;
	left: -100vw;
	opacity: 0;
	z-index: 100;
	/* height: 100vh; */
	font-size: 16px;
}

.modal,
.modal > a {
	position: fixed;
	top: 0;
	/* set a/link wrapper around modal content */
	width: 100%;
	height: 100%;
}

.modal > a {
	position: absolute;
	left: 0;
}

.modal:target {
	left: 0;
	opacity: 1;
	transition: left 0s, opacity 1s;
}

/* matches main nav for a seamless transition/toggle */
.modal-controls {
	display: flex;
	padding: 1.5em 5em;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background: var(--deepBlue);
	z-index: 10;
	height: 7em;
	font-size: 16px;
}

.modal-controls .logo a {
	font-size: 1.5em;
}

/* Content inside div */
.modal-wrapper {
	width: 100vw;
	height: 100vh;
	transition: top 1s;
	background: var(--deepBlue);
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.modal-wrapper::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.modal-main-content {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	padding: 3em 5em;
	margin-top: 7em;
}

.modal-title.section-header {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

.summary-content-wrapper {
	font-size: 1.25em;
	display: flex;
	gap: 3em;
	line-height: 1.25;
}

.project-overview-col {
	font-size: 1.5em;
	width: 60%;
}

.project-sh-col {
	width: 40%;
	margin-top: -5em;
	margin-bottom: 0;
	background: url(../assets/images/test_SH.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.project-details-wrapper {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10em;
}

.project-details-col {
	flex: 1;
}

.detail-content {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* .project-image {
	position: absolute;
	height: 2em;
	right: calc(-50vw + 50%);
	bottom: calc(100vh - 40%);
	opacity: 50%;
} */

.modal:target > div {
	top: 0;
}

/* CONTACT SECTION */
.contact-wrapper {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0em 3em;
	/* height: calc(100vh - 7em); */
}

.contact-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 2em;
	gap: 2em;
	/* padding: 1em; */
}

.contact-col {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}

#contact-content-col {
	flex: 2;
}

#contact-headshot-col img {
	height: 80%;
	width: 80%;
	transform: rotate(40deg);
	align-self: center;
}

/* FOOTER SECTION */
footer {
	display: flex;
	height: 2em;
	width: 100%;
	background: var(--lime);
}

/* TRANSITION CLASSES */
.bump,
.grow,
.slide {
	transition: all 0.2s ease-in-out;
}

.bump:hover {
	transform: translateY(-0.2em);
}

.grow:hover {
	/* grow just a teeny bit on hover to highlight selected element */
	transform: scale(1.05);
}

.slide:hover {
	transform: translateX(0.5em);
}

/* ANIMATION CLASSES */
.fade-in {
	opacity: 1;
	animation-name: fadeInTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInTextOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutTextOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Ticker Tape Band with Tech Stack Scrolling */
@keyframes ticker-tape-scrolling {
	0% {
		left: 0;
	}
	100% {
		left: -50%;
	}
}

@keyframes wiggle {
	0% {
		-webkit-transform: rotate(3deg);
	}
	25% {
		-webkit-transform: rotate(-3deg);
	}
	50% {
		-webkit-transform: rotate(3deg);
	}
	75% {
		-webkit-transform: rotate(-3deg);
	}
	100% {
		-webkit-transform: rotate(3deg);
	}
}

@keyframes swing {
	0% {
		transform: rotate(3deg);
	}
	100% {
		transform: rotate(-3deg);
	}
}

@keyframes colorchange {
	0% {
		background: var(--hotpink);

		/* color: cyan; */
	}
	33% {
		background: var(--lime);

		/* color: magenta; */
	}
	66% {
		background: var(--sea);

		/* color: yellow; */
	}
	100% {
		background: var(--flamingo);

		/* color: cyan; */
	}
}

/* MEDIA QUERIES */
@media (max-width: 786px) {
	nav {
		padding: 3em;
	}

	.page-wrapper {
		height: 100%;
	}

	.landing {
		/* height: 100vh; */
		flex-direction: column;
	}

	.intro {
		font-size: 40px;
	}

	.intro-closing {
		justify-content: center;
		padding: 0em 2.5em;
		margin-bottom: 1.5em;
		height: 100%;
	}

	.intro-closing-content {
		font-size: 20px;
	}

	.social-links {
		display: none;
	}

	.about-content {
		font-size: 20px;
		padding: 0em 3em;
	}

	/* Modal Smaller Viewports  */

	.modal {
		overflow-y: scroll;
	}

	.summary {
		font-size: 20px;
		width: 100%;
	}
	.comments-wrapper {
		flex-direction: column-reverse;
	}

	.comment-wrapper {
		padding: 1em 0em !important;
	}
}

/* MEDIA QUERIES */

/* MOBILE & MOST TABLETS */
@media screen and (max-width: 768px) {
	html {
		font-size: 16px;
	}

	nav {
		padding: 1em 3em;
		/* align-items: center; */
		height: 7em;
		justify-content: flex-start;
	}

	section {
		margin-top: 5em;
	}

	/* p {
		font-size: 1.25em;
	} */

	.logo {
		align-self: center;
	}

	/* Show logo on left side of nav  */
	.logo-scroll {
		display: block;
	}

	/* Make sure other logo revealed on scroll never appears */
	/* Also handled in script checking for screen size */
	.logo-loaded {
		display: none;
	}

	.logo-scroll {
		display: block;
	}

	.nav-links-wrapper {
		display: none;
	}

	/* Hamburger Menu - Mobile Only */
	.burger-wrapper {
		position: fixed;
		top: 1.5em;
		right: 3em;
		align-self: center;
	}
	/* 
	.toggle {
		position: absolute;
		top: -1em;
		right: -2em;
		cursor: pointer;
		width: 5em;
		height: 5em;
		opacity: 0;
		z-index: 200;
	} */

	/* Show menu when toggle is clicked (checkbox is checked) */
	.toggle:checked ~ .burger-menu {
		visibility: visible;
	}

	.toggle:checked ~ .burger-menu > div {
		transform: scale(1);
	}

	.burger {
		position: absolute;
		top: 0;
		right: 0;
		width: 3em;
		height: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 199;
	}

	/* Create middle line of hamburger menu */
	.burger > div {
		position: relative;
		width: 100%;
		height: 0.5em;
		background-color: var(--lime);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
	}

	/* Create top and bottom lines in hamburger menu */
	.burger > div::before,
	.burger > div::after {
		content: '';
		position: absolute;
		top: -1em;
		width: 100%;
		height: 0.5em;
		background-color: inherit;
	}

	.burger > div::after {
		background-color: var(--hotpink);
	}

	.burger > div::before {
		background-color: var(--clementine);
	}

	.burger > div::after {
		top: 1em;
	}

	/* Animate burger toggle */
	.toggle:checked + .burger > div {
		transform: rotate(135deg);
	}

	.toggle:checked + .burger > div::before,
	.toggle:checked + .burger > div::after {
		top: 0;
		transform: rotate(90deg);
	}

	.burger-menu {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.burger-menu > div {
		background-color: var(--burgerBG);
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--softwhite);
		transform: scale(0);
		transition: all 0.3s ease;
	}

	.burger-link-wrapper {
		display: flex;
		flex-direction: column;
	}

	.burger-link {
		font-size: 3em;
		padding: 1em;
		color: var(--softwhite);
		text-transform: uppercase;
	}

	.burger-link a {
		height: 100%;
		width: 100%;
	}

	/* MAIN WRAPPER AND UTILITIES */
	.page-wrapper {
		width: 100%;
		overflow-x: hidden;
	}

	.section-header {
		padding: unset;
	}

	/* LANDING SECTION */
	.landing {
		margin-top: 7em;
		flex-direction: row;
		height: unset;
		padding: unset;
	}

	.intro {
		align-items: flex-start;
		margin: 0.5em 0em;
		flex: 1;
	}

	.intro-content {
		font-size: 1em;
		width: 100%;
		margin-top: 0;
		padding: unset;
		font-family: objectSansHeavy;
	}

	#intro-img,
	.intro-closing {
		display: none;
	}

	/* EXPERIENCE SECTION */
	.experience-wrapper {
		height: unset;
		padding: unset;
	}
	.experience-cols {
		flex-direction: column;
		margin: 0;
		line-height: 1.6;
		/* font-size: 0.75em; */
		padding: unset;
	}

	#experience-col-1,
	#experience-col-2 {
		transform: none;
		margin: 0;
		background: none;
		padding: unset;
	}

	.experience-content {
		padding: unset;
		outline: none;
	}

	#experience-col-1 .experience-text,
	#experience-col-2 .experience-text {
		outline: none;
	}

	/* TICKER TAPE SECTION */
	.ticker-tape-item {
		font-family: objectSansBold;
		font-size: 1.25em;
		/* animation: wiggle 1s infinite; */
	}

	/* PROJECT SECTION */
	.projects-wrapper {
		justify-content: flex-start;
		padding: unset;
		height: unset;
	}

	.project-prev-wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-right: unset;
	}

	.projects-list-col {
		padding: unset;
	}

	.project-prev-wrapper:nth-child(1) {
		padding-top: unset;
	}

	.project-prev-title {
		font-size: 1.5em;
	}

	.project-prev-stack {
		display: none;
	}

	/* CONTACT SECTION */

	.contact-wrapper {
		display: flex;
		flex-direction: column;
		padding: unset;
		height: unset;
	}

	.contact-row {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		margin-bottom: 2em;
		gap: 2em;
		padding: unset;
	}

	.contact-col {
		display: flex;
		flex-direction: column;
	}
}
