/* ***Color Palette*** */
:root {
	--black: #000100;
	--deepBlue: #050411;
	--sea: #2b9eb3;
	--olive: #849324;
	--clementine: #f26430;
	--flamingo: #fe938c;
	--lime: #adff2f;
	--hotpink: #ff69b4;
	--lilac: #d7b8f3;
	--softwhite: #f5f5f5;
	--gradientBG: linear-gradient(45deg, #d7b8f3, #2b9eb3, #fe938c), #ff69b4;
}

* {
	box-sizing: border-box;
	/* outline: 1px solid pink; */
}

body:before,
body:after {
	content: '';
	position: fixed;
	background: var(--softwhite);
	left: 0;
	right: 0;
	height: 10px;
}
body:before {
	top: 0;
}
body:after {
	bottom: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: objectSansThin;
	line-height: 1.6;
	background: var(--deepBlue);
	color: var(--softwhite);
	border-left: 0.25em solid var(--softwhite);
	border-right: 0.25em solid var(--softwhite);
}

html {
	scroll-behavior: smooth;
}

/* add space above project section for smooth scroll to anchor */
.section-anchor:target:before {
	content: '';
	display: block;
	height: 3em;
	/* margin: 4em 0; */
}

/* project anchor made a little shorter because of previous sibling (experience) height */
#projects.section-anchor:target:before {
	height: 2em;
}

/* *** FONT & LINK STYLINGS *** */
@font-face {
	font-family: objectSansHeavy;
	src: url(../assets/fonts/ObjectSans-Heavy.woff);
}

/* Main content text */
@font-face {
	font-family: objectSansReg;
	src: url(../assets/fonts/ObjectSans-Regular.woff);
}

/* Link text */
@font-face {
	font-family: objectSansThin;
	src: url(../assets/fonts/ObjectSans-Thin.woff);
}

@font-face {
	font-family: objectSansBold;
	src: url(../assets/fonts/ObjectSans-Bold.woff);
}

a {
	text-decoration: none;
	color: var(--softwhite);
	font-family: objectSansReg;
}

a:visited {
	color: var(--softwhite);
}

.active-nav {
	border-bottom: 4px solid var(--lilac);
}

.active-nav:hover {
	border-bottom: none;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='var(--lilac)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 5px;
	background-repeat: repeat-x;
	text-decoration: none;
}

.hide-scroll {
	overflow: hidden;
}

:target:before {
	content: '';
	display: block;
	height: 7em;
	margin: -7em 0 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}

.lime {
	display: inline-block;
	color: var(--lime);
	/* transform: rotate(2deg); */
}

/* .lime:hover {
	animation: wiggle 1s infinite;
} */

.olive {
	color: var(--olive);
}

.smaller {
	display: inline-block;
	font-size: 10px;
}

.bump {
	transition: all 0.2s ease-in-out;
}

.bump:hover {
	transform: translateY(-0.2em);
}

nav {
	display: flex;
	padding: 1.5em 4.25em;
	width: calc(100% - 1.3em);
	justify-content: flex-end;
	/* justify-content: space-between; */
	align-items: center;
	position: fixed;
	background: var(--deepBlue);
	z-index: 10;
	height: 7em;
	/* top: 0.5em; */
	border-top: solid 0.5em var(--softwhite);
	font-size: 0.75em;
}

.logo {
	font-size: 1.75em;
	margin-right: 3.75em;
}

.logo #dot {
	color: var(--lime);
}

.logo .daisy:hover {
	color: var(--clementine);
}

.logo .daisy {
	color: var(--flamingo);
	font-size: 1em;
	transition: all 0.2s ease-in-out;
}

.logo-load {
	align-self: flex-end;
	display: block;
	margin-right: 1.2em;
	font-size: 1.5em;
}

.logo-scroll {
	display: none;
	font-size: 1.5em;
}

.nav-links-wrapper {
	display: none;
	justify-content: space-between;
}

.nav-link {
	margin-right: 1.5em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	cursor: pointer;
	font-family: objectSansBold;
	letter-spacing: 2px;
}

.nav-link:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='pink' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 5px;
	background-repeat: repeat-x;
	text-decoration: none;
}

/* use to 'toggle' nav links into view */
.show-nav.fade-in {
	display: flex;
}

.show-logo {
	display: block;
}

.hide-nav {
	display: none;
}

.nav-link:not(:last-child) {
	margin-right: 1.5em;
}

#resume-btn {
	padding: 0 1em;
	text-align: center;
	margin-right: 0;
	background: var(--hotpink);
	font-size: 1.5em;
	cursor: pointer;
	font-family: objectSansBold;
	letter-spacing: 2px;
	color: var(--softwhite);
	border: none;
	/* border-image: linear-gradient(#f6b73c, #4d9f0c) 50; */
}

.page-wrapper {
	/* Wrap all page contents */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin: 1em 3em; */
	/* box-shadow: 0px 2px 15px 5px #000000; */
}

.landing {
	display: flex;
	width: 100%;
	height: calc(100vh - 1em);
	cursor: pointer;
	padding-bottom: 1em;
}

.intro {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	/* justify-content: center; */
	height: 100%;
}

.intro.professional {
	cursor: url('/assets/cursor_daisy.png'), pointer;
}

.intro.personal {
	cursor: url('/assets/cursor_daisy.png'), pointer;
}

.intro-content {
	/* adjust for nav position fixed (intro overlaps) */
	margin-top: auto;
	line-height: 1;
	font-size: 4.3em;
	padding: 0em 0.75em;
	padding-right: 1.5em;
	font-family: objectSansHeavy;
	letter-spacing: 0.05em;
	line-height: 1em;
	/* margin-bottom: 0.25em; */
}

#intro-img {
	position: absolute;
	height: 1em;
	width: 1em;
}

.intro-closing {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 1.25em;
}

#intro-aside {
	cursor: auto;
	font-family: objectSansReg;
	font-size: 28px;
	line-height: 1.25em;
	padding-right: 0.75em;
}

.social-links-wrapper {
	display: flex;
	margin: 1.5em 0em;
	padding-right: 3em;
	justify-content: space-evenly;
	margin: 0;
}

.social-link a {
	/* margin-right: 1em; */
	font-family: objectSansHeavy;
	letter-spacing: 2px;
	font-size: 26px;
	cursor: pointer;
	color: var(--hotpink);
}

.social-link a:hover {
	color: var(--clementine);
}

.social-link.smaller {
	width: 100%;
	font-size: 20px;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	padding-top: 0.25em;
	color: var(--olive);
}
/* 
.social-links-wrapper > * {
	border: 1px solid red;
} */

/* EXPERIENCE */
.experience-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 5% 0% 1% 0%;
	padding: 3.25em;
	font-family: objectSansReg;

	/* full vh minus height of nav */
	height: calc(100vh);
	/* flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; */
}

.experience-cols {
	display: flex;
	flex-direction: row;
}

.experience-content {
	display: flex;
	padding: 1em;
	font-size: 1.75em;
	/* flex: 1; */
	justify-content: center;

	/* align-items: center; */
	/* border-radius: 3%; */

	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 30px;
	padding: 0em 10em;
	line-height: 1.75;
	cursor: default;
	height: 100%; */
}

.experience-text {
	padding: 1em;
}

.experience-header {
	color: var(--hotpink);
	transform: rotate(-5deg);
	font-family: objectSansBold;
	align-self: flex-start;
	font-size: 3em;
	margin-bottom: -0.25em;
	z-index: 2;
}

#experience-col-1 {
	background: var(--flamingo);
	margin-right: 1.5em;
	margin-bottom: 2em;
	transform: rotate(3deg);
}

#experience-col-1 .experience-text {
	outline: 0.2em solid var(--sea);
}

#experience-col-2 {
	background: var(--olive);
	margin-left: 1.5em;
	margin-top: 1.5em;
	transform: rotate(-5deg);
}

#experience-col-2 .experience-text {
	outline: 0.2em solid var(--lilac);
}

/* PROJECTS  */
/* .subheading {
	margin-bottom: 1%;
	font-size: smaller;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex: 1;
	font-size: 30px;
	padding: 0em 10em;
	margin-top: 3em;
	line-height: 1.75;
	cursor: default;
	height: 100%;
} */

/* PROJECTS */

.projects-wrapper {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0em 3em;
	margin-top: 3em;
}

.projects-header {
	width: 100%;
	margin-bottom: 0.25em;
	line-height: 1;
	font-size: 1em;
	font-family: objectSansBold;
	letter-spacing: 0.05em;
}

.projects-overview {
	font-family: objectSansReg;
	font-size: 2em;
	width: 100%;
	line-height: 1.25;
	width: 75%;
	align-self: flex-start;
}

/* Ticker Tape Band with Tech Stack Scrolling */
@keyframes ticker-tape-scrolling {
	0% {
		left: 0;
	}
	100% {
		left: -50%;
	}
}

.ticker-tape {
	display: inline-flex;
	align-self: flex-start;
	width: 100vw;
	/* margin-top: 1em; */
}

.ticker-tape-scroll {
	overflow: hidden;
	white-space: nowrap;
}

.ticker-tape-wrapper {
	display: table-cell;
	position: relative;
	animation: ticker-tape-scrolling 60s linear infinite running;
}

/* .ticker-tape-title {
	display: inline-block;
	line-height: 2.5rem;
	padding: 0 1.25rem;
	font-family: objectSansReg;
	width: 50%;
	border: 1px solid red;
} */

.ticker-tape-item {
	display: inline-block;
	text-align: center;
	/* vertical-align: top; */
	padding: 0 1.25rem;
	font-family: objectSansBold;
	/* text-transform: uppercase; */
	font-size: 2.25em;
	letter-spacing: 2px;
	width: 10em;
	animation: wiggle 1s infinite;
}

@keyframes wiggle {
	0% {
		-webkit-transform: rotate(3deg);
	}
	25% {
		-webkit-transform: rotate(-3deg);
	}
	50% {
		-webkit-transform: rotate(3deg);
	}
	75% {
		-webkit-transform: rotate(-3deg);
	}
	100% {
		-webkit-transform: rotate(3deg);
	}
}

.project-grid {
	display: flex;
	width: 100%;
	height: 100%;
	gap: 2em;
	flex-direction: row;
	padding-top: 3em;
}

.project-prev {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
	/* margin-right: 3em; */
	text-align: center;
}

/* .project-prev-img {
	flex: 1;
	background: url('/assets/images/placeholder_bg.jpg');
} */

.project-title {
	font-size: 1.25em;
	padding: 0.5em 0em;
	background: var(--deepBlue);
	margin-top: auto;
}

.project-tagline {
	font-size: 1.25em;
	line-height: 1;
	background: var(--deepBlue);
}

#project-1-prev {
	flex: 1;
	background: url('/assets/images/placeholder_bg.jpg') no-repeat center;
	/* margin-right: 3em; TODO: Add this margin only on safari where gap is not applied */
}

#project-2-prev {
	background: url('/assets/images/giphy.gif') no-repeat center;
	/* margin-right: 3em; TODO: Add this margin only on safari where gap is not applied */
}

#project-3-prev {
	background: url('/assets/images/test-projectIMG.png') no-repeat center;
	/* margin-right: 3em; TODO: Add this margin only on safari where gap is not applied */
}

/* *** MODAL/LIGHTBOX PROJECT DISPLAY ***  */
.modal,
.modal > a {
	position: fixed;
	top: 0;
	/* set a/link wrapper around modal content */
	width: 100%;
	height: 100%;
}

.modal {
	transition: left 0s 1s, opacity 1s;
	left: -100vw;
	opacity: 0;
	background: var(--black);
	/* overflow: hidden; */
	z-index: 100;
	height: 100vh;
}

.modal:target {
	left: 0;
	opacity: 1;
	transition: left 0s, opacity 1s;
}

.modal > a {
	position: absolute;
	left: 0;
}

.modal-link {
	margin-bottom: 2em;
}

/* Content inside div */
.modal-wrapper {
	width: 100vw;
	height: 100vh;
	transition: top 1s;
	padding: 3% 5% 0% 4.5em;
	background: var(--black);

	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.modal-wrapper::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.modal-controls {
	position: absolute;
	padding: 1.5em 3em;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: var(--black);
	height: 7em;
	font-size: 1.25em;

	/* display: flex;
	padding: 1.5em 3em;
	width: calc(100% - 1.3em);
	justify-content: space-between;
	position: fixed;
	background: var(--deepBlue);
	height: 6em;
	top: 0.5em;
	font-size: 0.75em; */
}

.modal-controls .logo {
	font-size: 1.25em;
}

.modal-main-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 3em 1.5em 0em 1.5em;
	height: 100%;
}

.modal-headers {
	margin-bottom: 1em;
}

.modal-title {
	font-size: 50px;
}

.modal-project-summary {
	margin: 0.5em 0em;
	height: 100%;
}

.modal .summary-content {
	font-size: 24px;
}

.project-details-wrapper {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
}

.project-subheading {
	margin-bottom: 0.5em;
}

.project-details-col {
	padding: 0 1em 0 0;
	margin-right: 4em;
	flex: 1;
}

.project-details-col:last-child {
	margin: 0;
}

.detail-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.project-image {
	position: absolute;
	/* bottom: 0;
	right: 2em; */
	height: 2em;
	right: calc(-50vw + 50%);
	bottom: calc(100vh - 40%);

	opacity: 50%;
	/* z-index: 100; */
}

.modal:target > div {
	top: 0;
}

.contact-wrapper {
	display: flex;
	width: 100%;
	height: calc(100vh - 7em);
	padding: 3em;
	gap: 2em;
}

.contact-headshot-col {
	display: flex;
	height: 100%;
	width: 40%;
	/* outline: 1px solid whitesmoke; */
	align-items: center;
	justify-content: center;
}

.contact-headshot-col img {
	height: 75%;
	width: 75%;
	transform: rotate(-75deg);
}

.contact-info-col {
	display: flex;
	height: 100%;
	width: 60%;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 6em;
}

.contact-info-header {
	font-size: 2em;
}
.contact-info-content {
	display: flex;
	height: 100%;
	flex-direction: column;
}

footer {
	display: flex;
	height: 2em;
	width: 100%;
	outline: 1px solid whitesmoke;
	background: var(--lime);
}

/* ANIMATION CLASSES */
.fade-in {
	opacity: 1;
	animation-name: fadeInTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

/* .fade-in-primary {
	opacity: 1;
	animation-name: fadeInTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in-secondary {
	opacity: 1;
	animation-name: fadeInTextOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-delay: 2s;
	animation-duration: 4s;
} */

@keyframes fadeInTextOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutTextOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* MEDIA QUERIES */
@media (max-width: 786px) {
	nav {
		padding: 3em;
	}

	.page-wrapper {
		height: 100%;
	}

	.landing {
		/* height: 100vh; */
		flex-direction: column;
	}

	.intro {
		font-size: 40px;
	}

	.intro-closing {
		justify-content: center;
		padding: 0em 2.5em;
		margin-bottom: 1.5em;
		height: 100%;
	}

	.intro-closing-content {
		font-size: 20px;
	}

	.social-links {
		display: none;
	}
	/* .social-links {
		justify-content: space-between;
	}

	.social-links > div {
		margin: 0em;
		margin-right: 0.5em;
	} */

	.about-content {
		font-size: 20px;
		padding: 0em 3em;
	}

	/* Modal Smaller Viewports  */

	.modal {
		overflow-y: scroll;
	}

	.summary {
		font-size: 20px;
		width: 100%;
	}
	.comments-wrapper {
		flex-direction: column-reverse;
	}

	.comment-wrapper {
		padding: 1em 0em !important;
	}
}
